
<form [formGroup]="indirizzoForm" (ngSubmit)="confirmChanges()" class="form">
    Nome:<app-input-text formControlName="nome" ></app-input-text>
    Cognome:<app-input-text formControlName="cognome" ></app-input-text>
    Cellulare:<app-input-text formControlName="cellulare" ></app-input-text>
    Città:<app-input-text formControlName="città" ></app-input-text>
    Cap:<app-input-text formControlName="cap" ></app-input-text>
    Indirizzo:<app-input-text formControlName="indirizzo" ></app-input-text>
    Numero:<app-input-text formControlName="numero" ></app-input-text>
    Informazioni aggiuntive:<app-input-text formControlName="informazioni" ></app-input-text>
    <button (click)="cancel()" class="continua" type="button">Annulla</button>
    <button type="submit" class="continua" [disabled]="indirizzoForm.invalid">Conferma</button>
</form>
