
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- scelta -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" (click)="goToRegistrazione()">Sign Up </h2>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <app-input-text id="username" formControlName="username" [label]="'Username'"></app-input-text>
        <app-input-text id="password" formControlName="password" [label]="'Password'"></app-input-text>
        <button class="invia" type="submit">Login</button>
    </form>
  
      <!-- Remind Passowrd da fare -->
      <div id="formFooter">
        <a class="underlineHover" >Forgot Password?</a>
      </div>
  
    </div>
  </div>