<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<form [formGroup]="prodottoForm" (ngSubmit)="confirmChanges()" class="form">
    <p>Nome:</p><app-input-text formControlName="nome" ></app-input-text>
    <ng-container class="box">
        <label>
            <input  type="radio" value="white" formControlName="colore">
              <button value="white" formControlName="colore" type="button"><i class="fa fa-circle-o" aria-hidden="true"></i></button>
          </label>
          <label>
            <input type="radio" value="blue" formControlName="colore">
            <button><i class="fa fa-circle-o" aria-hidden="true"></i></button>
          </label>
     <!--<app-input-text formControlName="colore" ></i></app-input-text>-->
    </ng-container>
    <p>Testo:</p><app-input-text formControlName="testo" ></app-input-text>
    <p>Colore Testo:</p><app-input-text formControlName="Ctesto" ></app-input-text>
    <div class="bottoni">
      <button class="invia" (click)="cancel()" type="button">Annulla</button>
      <button class="invia" type="submit" [disabled]="prodottoForm.invalid">Conferma</button>
    </div>
</form>

