<body>
<div class="container">
    <div class="card">
        <div class="imgBx">
            <img [src]="'./assets/img/'+prodotto.nome+'-'+prodotto.colore+'-transparent.png'" alt="">
        </div>
        <div class="contentBx">
            <h2>Maglia</h2>

        </div>
    </div>
</div>
<div class="form">
<app-customize-form (formSubmitEvent)="editForm($event)" [prodotto]="prodotto" (undoEvent)="undo()"></app-customize-form>
</div>
<button (click)='carrello()'>Vai al carrello</button>
</body>
